@using VacationPlannerPro.Business.DTOs.WorkerDTOs
@model WorkerDTO

@{
    ViewBag.Title = "Delete Worker";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm border-0 rounded-lg mt-3">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Delete Worker</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Delete", "Workers", FormMethod.Post, new { @class = "needs-validation", @novalidate = "novalidate" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)

                    <div class="alert alert-danger">
                        <h5>Are you sure you want to delete this worker?</h5>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Full Name:</strong>
                            <p>@Model.FullName</p>
                        </div>
                        <div class="col-sm-4">
                            <strong>Age:</strong>
                            <p>@Model.Age</p>
                        </div>
                        <div class="col-sm-4">
                            <strong>Profession:</strong>
                            <p>@Model.ProfessionName</p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <a href="@Url.Action("Index", "Workers", new { area = "Admin" })" class="btn btn-outline-primary">
                            <i class="fa-solid fa-chevron-left"></i> Back to List
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i> Delete
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
